

div
{margin:100px;padding:100px;border:2px;solid:black;
    
height: padding;width: 100%;}

navid{font-family:15px;link:#;
 
container{width:960px;content:inside;
     
 }   
    
}
head{front-color:ivory;text-align: center;font-family:60px; 
    
}
header{
    text-align: center;size: 60px;
}